<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: linear-gradient(to right, red,  blue );
        }
        .title{
            text-align: center;
            font-size: 30px;
        }

    </style>
</head>
<body>
    <div class="title">
        <h1>HttpResponse 示例</h1>
    </div>
    
    <form action="{% url 'file_page' %}" method="post" enctype="multipart/form-data">
        <input type="text" name="title">
        <input type="file" name="myfile">
        <input type="submit" value="提交">
    </form>

    <ul>
        <li><a href="{% url 'file_download' 'txt.txt' %}">下载 txt.txt</a></li>
        <li><a href="{% url 'file_download' '1.jpg' %}">下载 图图</a></li>

    </ul>
</body>
</html>